head + body {
    font-family: 'Courgette', cursive;
}

/* head + body + div.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100vw;
} */

/* new dog form styling */
#dog-form {
    left: 0;
    /* width: 100vw; */
    padding: 1vw;
    /* background-color: #d2f4f5; */
    border: 2px solid #88ddba ;
    
}

label {
    font-size: 1.5em;
}

#accessory-selected {
    position: absolute;
    bottom: 10vw;
    left: 40vw;
    z-index: 2;
    width: 385px;
    height: 258.8px;
}

#main-dog {
    z-index: 1;
    bottom: 10vw;
    left: 40vw;
}
#main-dog, #accessory-selected img {
    position: absolute;
    width: 400px;
}

#accessory-selected img {
    bottom: 0vw;
    left: 0vw;
    max-width: 50vw;
    z-index: 2;
}

#accessory {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    overflow: hidden;
    padding: 0px;
}

#accessory img {
    flex: 1;
    width: 5%;
]}

/* saved dogs (dog hall of fame) styling */

.saved-dog, .saved-accessory {
    position: absolute;
    height: 15vw;
    margin: 0 -6%;
}

.grid-container {
    /* background-color: #F8F8FF; */
    /* position: relative; */
    border: cadetblue 10px;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    margin: 10vw 100px;
    justify-content: center;
    border: black 1px;
}

.delete-dog-button {
    z-index: 2;
}