head + body {
    font-family: 'Courgette', cursive;
}

/* new dog form styling */
#dog-form {
    left: 0;
    padding: 1vw;
    background-color: #fffae6;
    border: gold solid 1px;
    /* -webkit-box-shadow: 6px 3px 36px -10px #cc9900;
    -moz-box-shadow: 6px 3px 36px -10px #cc9900;
    box-shadow: 6px 3px 36px -10px #cc9900; */
}

label {
    font-size: 1.5em;
}

#accessory {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0px;
    z-index: 2;
}

#accessory img {
    flex: 0 0 auto;
    width: 14%;
}

#main-dog {
    z-index: 3;
    bottom: 10vw;
    left: 30vw;
}

#main-dog, #accessory-selected img {
    position: absolute;
    width: 400px;
}

#accessory-selected {
    position: absolute;
    bottom: 10vw;
    left: 30vw;
    z-index: 4;
    width: 385px;
    height: 258.8px;
}

#accessory-selected img {
    bottom: 0vw;
    left: 0vw;
    max-width: 50vw;
    z-index: 2;
}

/* saved dogs (dog hall of fame) styling */
#hall-of-fame-header {
    text-align: center;
}
.dog-name-header {
    text-align: center;
}
.saved-dog, .saved-accessory {
    height: 15vw;
    margin: 0 -15%;
}

.saved-accessory {
    position: absolute;
    bottom: 13.5%;
    left: 7px;
    z-index: 2;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    position: relative;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    width: 20vw;
    height: 24vw;
    border: #2e1a12 solid 8px;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
}

.delete-dog-button {
    z-index: 4;
    position: absolute;
    bottom: 5px;
}