body {
    background: #F8F8FF;
}
#dog-form {
}
#accessory-selected {
    position: absolute;
    bottom: 10vw;
    left: 40vw;
    z-index: 2;
    width: 385px;
    height: 258.8px;
}

#main-dog {
    z-index: 1;
}
#main-dog, #accessory-selected img {
    position: absolute;
    bottom: 10vw;
    left: 40vw;
    width: 300px;
}

#accessory-selected img {
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    max-width: 50vw;
    z-index: 2;
}


#main-dog {
    z-index: 1;
}
#accessory {
    width: 10vw;
    height: auto;
    overflow: hidden;
    margin: 0;
}

#accessory img {
    display: block;
    width: 150%;
    margin: 0 -40% -60%;
}